/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #ef5350;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.home-container {
  padding: 1rem;
  text-align: center;
}

.search-bar, .filter-dropdown {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.pokemon-card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

img {
  width: 100px;
  height: 100px;
}
